extends layout

block content
	div.board-outline
		div#board
			div#board-doodles

			table#board-table.board-table
				tr
					td#icon-col(width='1%')
						image#add-col.col-icon(width='20', height='20', src='assets/images/icons/iconic/raster/black/plus_alt_32x32.png')
						image#delete-col.col-icon(width='20', height='20', src='assets/images/icons/iconic/raster/black/minus_alt_32x32.png')

	div.buttons
		i#erase-board.fa.fa-eraser.fa-2x.bottom-icon
		i#create-card.fa.fa-sticky-note.fa-2x.bottom-icon
		i#smallify.fa.fa-expand.fa-2x.bottom-icon
		i#open.fa.fa-folder-open.fa-2x.bottom-icon
		i#save.fa.fa-save.fa-2x.bottom-icon

	div.stickers
		div.sticker#sticker-red
		div.sticker#sticker-blue
		div.sticker#sticker-yellow
		div.sticker#sticker-green
		div.sticker#sticker-pink
		div.sticker#sticker-lightblue
		div.sticker#sticker-orange
		div.sticker#sticker-purple
		div.sticker#nosticker

	script(src="node_modules/jquery/dist/jquery.min.js" )
	script(src="node_modules/jquery-ui-dist/jquery-ui.min.js" )
	script(src="node_modules/jquery-jeditable/dist/jquery.jeditable.min.js" )

	script(src="assets/javascripts/util/fileutil.js")
	script(src="assets/javascripts/responder.js")
