doctype html
html
  head
    title= title
    link(rel='stylesheet', href='assets/css/styles.css')
    link(title='cardsize', rel='stylesheet', href='assets/css/smallcards.css')
    link(rel='stylesheet', href='node_modules/font-awesome/css/font-awesome.css')

  body
    block content